@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-primary     : #E6C744;
    --color-neutral-0   : #ffffff;
    --color-neutral-1   : #000000;     
    --color-gray        : #C2C8DA;  
    --color-gray-light  : #f7f8fd;  
    --color-bg-section  : #EBD96B;
    --color-link-card   : #7F7F7F;
    --color-links-footer: #8E8E8E;
    --color-gray-stars  : #f0f0f0;
    --color-bg-blur     : #ebda6ba1;
    --color-bg-header   : #b8a214;
    --color-bg-hero     : #f5f5f5;
}

html, body{
    font-family      : 'Poppins', sans-serif;    
    background-color : var(--color-neutral-0);   
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container {  
  max-width : 1720px;
  margin    : 0 auto; 
  padding   : 0 3%;
}

.bg-titulo-white span:first-of-type::before {
    content         : "";
    position        : absolute;
    inset           : 0;            /* ocupa a área do texto */
    background      : white;
    transform       : rotate(-3deg);
    z-index         : -1;
    border-radius   : 4px;          /* opcional */
}

.bg-titulo-yellow span:first-of-type::before {
    content         : "";
    position        : absolute;
    inset           : 0;            /* ocupa a área do texto */
    background      : var(--color-primary);
    transform       : rotate(-3deg);
    z-index         : -1;
    border-radius   : 4px;          /* opcional */
}

.no-scroll {
    overflow: hidden; 
    /* Impede a rolagem vertical e horizontal */
    /* overflow-y: hidden; para impedir apenas a vertical */
}